deps
tts
.uuid
*.log
*.db
*.db-*
*~
www

# secrets
known_devices.yaml
fitbit.conf
phue.conf
plex.conf
nest.conf
core
entity_registry.yaml
google_calendars.yaml
.google.token
.config_entries.json
.storage
*.swp

# ignore custom_components dir
custom_components/*
# include these custom components
!custom_components/philips_android_tv

# ignore pycache dirs
**/__pycache__

themes/
secrets.yaml
!ci/secrets.yaml
