deps
tts
.uuid
.HA_VERSION
*.log
*.db
*.db-*
*~
www

# secrets
known_devices.yaml
fitbit.conf
phue.conf
plex.conf
secrets.yaml
nest.conf
core
entity_registry.yaml
google_calendars.yaml
.google.token
.config_entries.json
